body {
	margin:0;
}

header {
	height:60px;
	width:100%;
	background-color:#F1F1F1;
	position:relative;
}
.logo_box {
	padding: 0px 0px 0px 20px;
	width:92px;
	display:inline;
}

.logo_box img {
	padding-top:19px;
}

.search {
	height:50px;
	width:660px;
	padding-top:10px;
	display:inline;
	position:absolute;

}

.search_bar {
	height:40px;
	width:590px;
	border: none;
	position:relative;
	display:block;
	margin: 0 0 0 20px;
}

.microphone_box {
	height:40px;
	width:40px;
	position:relative;
	float:right;
	top:-55px;
}

.microphone_box img {
	padding:10px 0px 10px 12px;
}


input {
	width:590px;
	height:40px;
	padding:5px 40px 5px 10px;
	font-family: arial;
	font-size: 16px;
	position:relative;
	margin:0 auto;
	display:block;
}

input:hover {
	border:.5px solid #a0a0a0;
}

input:focus {
	outline-color: transparent;
	outline-style: none;
	border: .5px solid #4D90FE;
}

.search_button {
	height:40px;
	width:40px;
	display:inline;
	position:relative;
	float:right;
	right:-79px;
	top:-57px;
}

.tiny_logo_box {
	height:30px;
	width: 140px;
	float:right;
	position:relative;
	top:15px;
}

.tiny_logo_box img {
	padding-left:15px;
}

.tiny_logo_box img:first-child, .tiny_logo_box img:nth-child(2) {
	padding-bottom:5px;
}

.options_bar {
	height:60px;
	width:100%;
	border-top:1px solid #EBEBEB;
	border-bottom:1px solid #EBEBEB;
	padding-left:127px;
	position:absolute;
}

.options_bar ul {
	padding-left:0px;
	width:530px;
	position:relative;
}

.options_bar li {
	font-family:arial;
	font-size: 13px;
	color:#777;
	display:inline;
	float:left;
	padding:8px 8px;
	margin: 0 8px;

}

.options_bar li:hover {
	color:#222;
	cursor: pointer;
}

.options_bar li:nth-child(7):hover {
	color:#777;
	cursor: pointer;
	background-color:#f2f2f2;
	border:1px solid #aaa;
	border-radius: 2px;
}

.options_bar li:first-child {
	font-family:arial;
	font-size: 13px;
	font-weight: bold;
	color:#4285F4;
	display:inline;
	float:left;
	padding:8px 8px;
	margin: 0 8px;
	border-bottom:3px solid #4285F4;
	height:25px;
}

.search_results_container {
	padding-left:137px;
	position:absolute;
	top:175px;
}

.search_result {
	height:73px;
	width:615px;
	position:relative;
	margin-bottom:30px;
}

.search_result_title {
	color:#4339BA;
	font-size:18px;
	font-family:arial;
	position:relative;
}

.search_result_title:hover {
	text-decoration: underline;
	cursor:pointer;
}

.search_url {
	color:#006621;
	font-size: 14px;
	display:block;
	font-family: arial;
}

.search_text {
	color:#555555;
	font-size: 14px;
	font-family:arial;
}

.related_searches_box {
	border-top:1px solid #EBEBEB;
	border-bottom:1px solid #EBEBEB;
	position:relative;
	height:180px;
}

.related_text {
	font-size:18px;
	font-family: arial;
	color:#848484;
	position:relative;
	padding: 20px 0 0px 10px;
}

.related_container {
	width: 270px;
	display:inline;
	position:relative;
	float:left;
	color:#4339BA;
	font-size:14px;
	font-family: arial;
}

.related_container li {
	padding-top:5px;
	list-style: none;
}

.related_container ul {
	padding-left:10px;
}

.related_container li:hover {
	text-decoration:underline;
	cursor:pointer;
}

.next_result_box {
	height:117px;
}
















