body {
	margin:0;
}

header {
	height:60px;
	width:100%;
	background-color:#F1F1F1;
	position:relative;
}
.logo_box {
	padding: 0px 0px 0px 20px;
	width:92px;
	display:inline;
}

.logo_box img {
	padding-top:19px;
}

.search {
	height:50px;
	width:660px;
	padding-top:10px;
	display:inline;
	position:absolute;

}

.search_bar {
	height:40px;
	width:590px;
	border: none;
	position:relative;
	display:block;
	margin: 0 0 0 20px;
}

.microphone_box {
	height:40px;
	width:40px;
	position:relative;
	float:right;
	top:-55px;
}

.microphone_box img {
	padding:10px 0px 10px 12px;
}


input {
	width:590px;
	height:40px;
	padding:5px 40px 5px 10px;
	font-family: arial;
	font-size: 16px;
	position:relative;
	margin:0 auto;
	display:block;
}

input:hover {
	border:.5px solid #a0a0a0;
}

input:focus {
	outline-color: transparent;
	outline-style: none;
	border: .5px solid #4D90FE;
}

.search_button {
	height:40px;
	width:40px;
	display:inline;
	position:relative;
	float:right;
	right:-79px;
	top:-56px;
}

.tiny_logo_box {
	height:30px;
	width: 140px;
	float:right;
	position:relative;
	top:15px;
}

.tiny_logo_box img {
	padding-left:15px;
}

.tiny_logo_box img:first-child, .tiny_logo_box img:nth-child(2) {
	padding-bottom:5px;
}

















